#Sample CD file
# https://community.hetzner.com/tutorials/deploy-github-artifacts-to-storagebox
name: Deploy to server or Storage Box
on:
  workflow_run:
    workflows: ["VT Workflow"]
    types:
      - completed
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download vt.txt artifact
        uses: actions/download-artifact@v4
        with:
          name: viva-token
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}

      # - name: Set up SSH key
      #   run: |
      #     env
      #     mkdir -p ~/.ssh
      #     echo "${{ secrets.ARTIFACT_SSH_KEY }}" > ~/.ssh/id_ed25519
      #     chmod 600 ~/.ssh/id_ed25519
      #     ssh-keyscan -p 22 -t ed25519 ${{ secrets.ARTIFACT_HOST }} >> ~/.ssh/known_hosts

      # - name: Deploy to server or Storage Box
      #   run: |
      #     rsync -azP -e "ssh -i $HOME/.ssh/id_ed25519 -p 22" ./vt.txt ${{ secrets.ARTIFACT_USERNAME }}@${{ secrets.ARTIFACT_HOST }}:~/vt.txt