name: VT Workflow
on:  
  schedule:
    - cron: '0 * * * *'  # Runs every hour at minute 0 (minute, hour, day of month, month, day of week)  
  workflow_dispatch:
env:
  VIVA_SMART_CHECKOUT_CLIENT_ID: ${{ secrets.VIVA_SMART_CHECKOUT_CLIENT_ID }}
  VIVA_SMART_CHECKOUT_CLIENT_SECRET: ${{ secrets.VIVA_SMART_CHECKOUT_CLIENT_SECRET }} 
jobs:
  vt_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # - name: Create .env file
      #   run: |
      #     echo "VIVA_SMART_CHECKOUT_CLIENT_ID=${{ secrets.VIVA_SMART_CHECKOUT_CLIENT_ID }}" >> .env
      #     echo "VIVA_SMART_CHECKOUT_CLIENT_SECRET=${{ secrets.VIVA_SMART_CHECKOUT_CLIENT_SECRET }}" >> .env
      
      # this will create vt.txt during the workflow run
      - name: Run VT Script
        run: bash viva_payments.sh

      # we can upload the vt.txt in this workflow as an artifact
      # then o deploy a GitHub artifact to the hetzner server we can download it in the deployment workflow
      - name: Upload vt.txt as artifact
        uses: actions/upload-artifact@v4
        with:
          name: viva-token
          path: vt.txt
--- IGNORE ---
      - name: Download a single artifact
      uses: actions/download-artifact@v5
      with:
        name:  viva-token
          

